<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :something %><br>
    <%= f.text_field :something %>
  </div>
  <div class="field">
    <%= f.label :somewhat %><br>
    <%= f.text_field :somewhat %>
  </div>
  <div class="field">
    <%= f.label :and_yet %><br>
    <%= f.text_field :and_yet %>
  </div>
  <div class="field">
    <%= f.label :whatever %><br>
    <%= f.text_field :whatever %>
  </div>
  <div class="field">
    <%= f.label :and_a_number %><br>
    <%= f.number_field :and_a_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
