<p id="notice"><%= notice %></p>

<h1>Listing Things</h1>

<table>
  <thead>
    <tr>
      <th>Something</th>
      <th>Somewhat</th>
      <th>And yet</th>
      <th>Whatever</th>
      <th>And a number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= thing.something %></td>
        <td><%= thing.somewhat %></td>
        <td><%= thing.and_yet %></td>
        <td><%= thing.whatever %></td>
        <td><%= thing.and_a_number %></td>
        <td><%= link_to 'Show', thing %></td>
        <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
        <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thing', new_thing_path %>
